@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --custom-border-color: #4AA05A;
  --custom-background-color: white;
  --border-width: 0px 0px 2px 0px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dot.selected{
  background-color: #4BA3C3 !important;
}
/* .carousel{
  position: relative !important;
  top:-4rem  !important;
} */
#panel1a-header{
  padding-left: 0.5rem !important;
}
.control-dots{
  z-index: 150 !important;
}
.bump {
  animation: bump 300ms ease-out;
}
body{
  overflow-x: hidden !important;
  background-color: rgb(245 245 245);
}
.PhoneInputInput{
  padding: 0.375rem 0.70rem !important;
  background-color: var(--custom-background-color) !important;
  
}
.PhoneInputInput:focus{
  outline: none !important;
}
.PhoneInput{
  border-radius: 0.125rem !important;
  border-bottom-width: 2px !important;
  border-color: var(--custom-border-color);
  background-color: white;
  padding-left: 0.8rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  30% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}